@import 'tailwindcss';

/* Modal.css */
.overlay.fade-in {
    animation: fade-in-o 1s;
}
@keyframes fade-in-o {
    from {
        opacity: 0;
    }
    to{
        opacity: 100;
    }
}

.overlay.fade-out {
    animation: fade-out-o 1s;
}
@keyframes fade-out-o {
    from {
        opacity: 100;
    }
    to{
        opacity: 0;
    }
}


.fade-in {
    animation: fade-in 1s;
}
@keyframes fade-in {
    from {
        scale: 0;
        opacity: 0;
    }
    to{
        scale: 1;
        opacity: 100;
    }
}

.fade-out {
    animation: fade-out 1s;
}

@keyframes fade-out {
    from {
        opacity: 100;
        scale: 1;
    }
    to{
        opacity: 0;
        scale: 0;
    }
}